/* You can add global styles to this file, and also import other style files */

html {
  position: relative;
  min-height: 100%;
}

.no-padding{
  padding-right: 0!important;
  padding-left: 0!important;
}
.wrapper{
  width: 80%;
  margin-left: 10%
}
