<div class="wrapper">
  <a routerLink="/customersForm" class="btn btn-info" style="margin-top:50px">
  Add Customer
</a>
<a routerLink="/services">
<span class="btn btn-info" style="margin-top:50px; margin-left:50px">
 Go to services
</span>
</a>
  <div *ngIf="added" class="alert alert-success alert-dismissible" style="margin-top:50px">Customer successfully added!
    <button type="button" class="close" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div *ngIf="updated" class="alert alert-success alert-dismissible" style="margin-top:50px">Customer successfully updated!
    <button type="button" class="close" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
  </div>

<table class="table table-striped table-bordered" style="margin-top: 50px">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Address</th>
      <th>Telephone</th>
      <th>Manage</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor = "let customer of customers" >
     <td>{{ customer.NAME }} </td>
     <td>{{ customer.EMAIL }}</td>
     <td>{{ customer.ADDRESS }}</td>
     <td>{{ customer.TELEPHONE }}</td>
     <td><a routerLink="edit/{{customer.ID}}" style="cursor: pointer" class="btn btn-warning">Edit</a>
     <a class="btn btn-danger ml-2"(click)="Delete(customer.ID)">Delete</a>
     </td>
    </tr>
  </tbody>
</table>
</div>
<app-footer></app-footer>
